certifi==2020.4.5.2
cffi==1.14.0
cryptography==2.9.2
DateTime==4.3
decorator==4.4.2
emoji==0.5.4
flake8==3.8.3
future==0.18.2
ipaddress==1.0.23
mccabe==0.6.1
ply==3.11
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodomex==3.9.7
pyflakes==2.2.0
pysmi==0.3.4
pysnmp==4.4.12
python-telegram-bot==12.7
pytz==2020.1
six==1.15.0
tornado==6.0.4
zope.interface==5.1.0
